/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* homePage css */
.homePage {
  margin-top: 40px;
  padding: 32px;
}

/* Home Page css */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.product .image-container,
.product .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .image-container {
  width: 120px;
  height: 80px;
  margin: 10px 0;

}

.product-image {
  width: 50%;
}

/******************  notFound page *************************/
.notFound {
  padding: 32px;
  max-width: 500px;
  margin: 80px auto;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 10px solid #333;
  border-radius: 11px;
}
.notFound h3 {
  font-size: 24px;
  margin: 0;
}
.notFound p {
  font-size: 18px;
}
.notFound button {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border-radius: 11px;
  padding: 16px 32px;
  background-color: black;
  color: white;
  border: 2px solid white;
}
/************* Single Product *******/
.singleProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto;
  padding: 16px;
  border: 1px solid lightgrey;
  border-radius: 11px;
}
.singleProduct div {
  padding: 8px;
}

.image-single-product {
  width: 200px;
  border-radius: 11px;
}

/* Icon css */
.icon {
  width: 30px;
  height: 30px;
  margin: 8px;
}

.icon:hover {
  opacity: 70%;
  cursor: pointer;
}
.icon:active {
  padding: 1px;
}
/* Contact Us css */
.contactUs {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  max-width: 600px;
  padding: 32px;
}

.contactUs form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Cart css */
.cart {
  max-width: 600px;
  margin: 40px auto;
}

/* Login css */
.login {
  max-width: 600px;
  margin: 40px auto;
}

/* SignUp */
.signup {
  max-width: 600px;
  margin: 40px auto;
}