#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.pilt {
  width: 100px;
  height: 60px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(90%);
}

.summa-aktiivne {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140) !important;
  background-color: rgb(243, 242, 242);
}

.linn-aktiivne {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(227 6 140);
}

.keel-aktiivne {
  font-size: 1.1em;
}

.tume {
  background-color: black;
  color: white;
  min-height: 100vh;
}

/* .hele {
  background-color: white;
  color: black;
} */

th, td {
  border: 1px solid black;
}

.carousel {
  width: 650px;
  margin: auto;
}

.carousel img {
  height: 200px;
  width: 500px;
}

.ikoon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.ikoon:hover {
  opacity: 70%;
  cursor: pointer;
}

.ikoon:active {
  padding: 1px;
}

.autod {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.auto {
  border: 1px solid lightgray;
}

.nimi {

}

.hind {

}

.pilt-mitteaktiivne {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  filter:grayscale(100%);
}